[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=About SparkyLinux
GenericName=About SparkyLinux
Name[de_DE]=Über SparkyLinux
Name[es_AR]=Acerca de SparkyLinux
Name[fr_FR]=A propos de SparkyLinux
Name[ja_JP]=SparkyLinux について
Name[pl_PL]=O SparkyLinux
Name[pt_BR]=Sobre o SparkyLinux
Name[pt_PT]=Sobre SparkyLinux
Name[ru_RU]=О SparkyLinux
Name[sv_SE]=Om SparkyLinux
Comment=Basic informations about SparkyLinux
Comment[de_DE]=Informationen über SparkyLinux und das System
Comment[es_AR]=Informaciones básicas acerca de SparkyLinux
Comment[fr_FR]=Information de base à propos de SparkyLinux
Comment[it_IT]=Informazioni di base circa SparkyLinux
Comment[ja_JP]=SparkyLinux についての基本情報
Comment[pl_PL]=Podstawowe informacje o SparkyLinux
Comment[pt_BR]=Informações básicas sobre o SparkyLinux
Comment[pt_PT]=Informações básicas sobre SparkyLinux
Comment[ru_RU]=Основная информация о SparkyLinux
Comment[sv_SE]=Grundläggande information om SparkyLinux
Exec=/usr/bin/sparky-about
Icon=/usr/share/icons/sparky/about/sparky48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

