[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=About SparkyLinux
GenericName=About SparkyLinux
Name[de]=Über SparkyLinux
Name[el]=Σχετικά με το SparkyLinux
Name[es]=Acerca de SparkyLinux
Name[fr]=A propos de SparkyLinux
Name[hu]=A SparkyLinuxról
Name[id]=Tentang SparkyLinux
Name[ja]=SparkyLinux について
Name[pl]=O SparkyLinux
Name[pt_BR]=Sobre o SparkyLinux
Name[pt_PT]=Sobre SparkyLinux
Name[ru]=О SparkyLinux
Name[sv]=Om SparkyLinux
Name[zh_CN]=关于 SparkyLinux
Comment=Basic informations about SparkyLinux
Comment[de]=Informationen über SparkyLinux und das System
Comment[el]=Βασικές πληροφορίες σχετικά με το SparkyLinux
Comment[es]=Informaciones básicas acerca de SparkyLinux
Comment[fr]=Information de base à propos de SparkyLinux
Comment[hu]=Alapvető információk a SparkyLinuxról
Comment[id]=Informasi dasar tentang SparkyLinux
Comment[it]=Informazioni di base circa SparkyLinux
Comment[ja]=SparkyLinux についての基本情報
Comment[pl]=Podstawowe informacje o SparkyLinux
Comment[pt_BR]=Informações básicas sobre o SparkyLinux
Comment[pt_PT]=Informações básicas sobre SparkyLinux
Comment[ru]=Основная информация о SparkyLinux
Comment[sv]=Grundläggande information om SparkyLinux
Comment[zh_CN]=SparkyLinux 的基本信息
Exec=/usr/bin/sparky-about
Icon=/usr/share/icons/sparky/about/sparky48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

